@import "variables";

.setContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.componentFiszka, .buttonsKnow  .buttonsNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#setGermanButton {
  margin:20px;
  margin-top: 0px;
}

.inputButton{
  display: flex;
  flex-direction: row;
}

#combo{
  background-color: #5496b3;
}

.input{
  height: 30px;
  width: 200px;
  border: 5px grey inset;
  font-size: 15px;
  margin-top: 35px;
  //background-color: #cdeae7;
}
#myInput{
  margin-top: 5px;
}

.nextSetButton{
  width: 130px;
  height: 70px;
}


#fiszkaRotate{
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:50px 100px;
  color:black;
  font-family: $mainCounterFont;
  font-size: 30px;
  position:relative;
  perspective: 400px;
}

#fiszkaRotateFront {
  background-image: repeating-linear-gradient(
                  -45deg,
                  #09708e,
                  #09708e 5px,
                  #5496b3 5px,
                  #09708e 10px
  );
}

.card {
  position: relative;
  width: 9rem; height: 12rem;
  perspective: 30rem;
}
.front, .back {
  position: absolute;
  width: 100%; height: 100%;
  transition: transform 1s;
  backface-visibility:hidden;
  margin: 0;
}
.front {
  background-color: #66ccff;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front{ transform: rotateY(180deg); }
.card:hover .back { transform: rotateY(360deg); }

.speaker-icon {
  left: -60px;
  margin: 0;
  position: absolute;
  top: -60px;
}